<!DOCTYPE html>
<html>
<head>
    <title>TMA Transcribed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/TMAflatlogo.png') }}">
</head>
<!--<body onload="highlightSearchTerm('{{ query }}', 'transcriptions')">-->
<body>
    <div class="container">
        <header>
            <h1><a href="{{ url_for('transcriptions') }}" style="text-decoration: none; color: inherit;">Transcribed Segments</a></h1>
        </header>

           <form id='search_form' action="{{ url_for('search') }}" method="get">
            <div>
                <label>Search for up to 5 words that appear in transcriptions:</label>
                <div id="queryInputs">
                    <input type="text" name="query1" placeholder="Search transcriptions...">
                </div>
                <button type="button" id="addQueryBtn" onclick="addQueryInput()">Add Another Search Term</button>
                <p class="info-text">Each searched word must appear in the transcribed text of a segment for it to be returned as a result.</p>
            </div>
            <div style="margin-top: 20px;">
<select name="year" id="yearDropdown" class="form-control">
    <option value="">Select Year</option>
    {% for year in unique_years %}
    <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
</select>
<select name="month" id="monthDropdown" class="form-control" disabled>
    <option value="">Select Month</option>
    {% for m in range(1, 13) %}
    <option value="{{ m }}">{{ m }}</option>
    {% endfor %}
</select>
<button type="submit" class="button-primary">Search</button>
            </div>
        </form>

        <section id="transcriptions" class="transcriptions">
            <div class="search-results">
                <h2>{{ search_description }}</h2>
            </div>
              {% for transcription in transcriptions %}
            <div class="transcription">
                <h2 class="segment-title" onclick="toggleVisibility('content{{ loop.index }}')">
                    {{ transcription[2] }} <!-- Assuming transcription.segment_title is the third element in the tuple -->
                </h2>
                <p class="segment-date">
                    Segment Date: <b>{{ transcription[4] }}</b> <!-- Assuming transcription.segment_pub_date is the fifth element -->
                </p>
                <p id="content{{ loop.index }}" class="content" style="display: none;">
                    {{ transcription[1] }} <!-- Assuming transcription.transcribed_text is the second element -->
                </p>
                <a href="javascript:void(0);" class="toggle-audio" onclick="toggleAudioPlayer('audioPlayer{{ loop.index }}')">Listen to Segment</a>
                <div id="audioPlayer{{ loop.index }}" class="audio-player" style="display: none;">
                    <audio controls preload="none">
                        <source src="{{ transcription[3] }}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
                {% if transcription[5] %}
                <a href="javascript:void(0);" class="toggle-visibility" onclick="toggleVisibility('shownotes{{ loop.index }}')">Display TMA Show Notes</a>
                <p id="shownotes{{ loop.index }}" class="content" style="display: none;">
                    {{ transcription[5] }} <!-- Assuming transcription.segment_show_notes is the sixth element -->
                </p>
                {% endif %}
            </div>
            {% else %}
            <p>No transcriptions found.</p>
            {% endfor %}
        </section>
    </div>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
