<!DOCTYPE html>
<html>
<head>
    <title>Transcription Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/TMAflatlogo.png') }}">

</head>
<body>
    <div class="container">
        <header>
            <h1>Transcribed Segments</h1>
        </header>
        <section id="transcriptions" class="transcriptions">
            {% for transcription in transcriptions %}
                <div class="transcription">
                    <!-- Display Segment Title -->
                    <h2 class="segment-title" onclick="toggleVisibility('segment{{ loop.index }}')">
                        {{ transcription.segment_title }}
                    </h2>
                    <!-- Display Transcribed Text -->
                    <p id="segment{{ loop.index }}" class="content" style="display: none;">
                        {{ transcription.transcribed_text }}
                    </p>
                    <!-- Display Segment URL -->
                    <a href="{{ transcription.segment_url }}" target="_blank">Link to Original Segment</a>
                </div>
            {% endfor %}
        </section>
        <!-- Pagination Controls -->
        <nav>
            <ul class="pagination">
                {% if pagination.has_prev %}
                    <li><a href="{{ url_for('hello_world', page=pagination.prev_num) }}">Previous</a></li>
                {% endif %}
                {% if pagination.has_next %}
                    <li><a href="{{ url_for('hello_world', page=pagination.next_num) }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
