<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/static/img/tmastl.jpg" as="image">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton-styles.css') }}">
    <title>{{ filename }}</title>
</head>
<body>

    <div class="container">
{#        <h1>Now Playing: {{ filename }}</h1>#}
        <p>{{ segment }}</p>
          <p>Date: <a href="{{ url_for('search', year=year, month=month, day=day) }}">{{ date }}</a></p>
        <audio controls preload="none">
            <source src="{{ file_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio><br>
        <button onclick="refreshPage()">Play Another Segment</button>
    </div>
    <script>
        function refreshPage() {
            window.location.reload();
        }
    </script>
</body>
</html>
