<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton-styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/TMAflatlogo.png') }}">
    <title>{{ segment }}</title>
</head>
<body>
    <main class="container">
        <div class="disclaimer">
            <p><strong>Notice of Non-Affiliation and Disclaimer:</strong> This is a fan-run app and is not affiliated, associated, authorized, endorsed by, or in any way officially connected with <a href="https://www.tmastl.com/">TMASTL</a></p>
        </div>
        <header>
            <h1>TMA Random Segment</a></h1>
        </header>
        <section class="content">
            <p><b>Segment: </b>{{ segment }}</p>
            <p>Date: <a href="{{ url_for('search', year=year, month=month, day=day) }}">{{ date }}</a></p>
            <div class="audio-player-wrapper">
                <audio controls preload="none">
                    <source src="{{ file_url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <button class="button-primary" onclick="refreshPage()">Shuffle Segment</button>
            <a href="{{ url_for('transcriptions') }}" class="button-primary">Home</a>

        </section>
    </main>
    <script>
        function refreshPage() {
            window.location.reload();
        }
    </script>
</body>
</html>
