body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #1C2D59; /* Dark brand color for text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1C2D59; /* Dark brand color for header background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.transcription {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.segment-title {
    color: #0056b3;
    cursor: pointer;
}

.segment-title:hover {
    text-decoration: underline;
}

.segment-date {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
}

.toggle-audio, .toggle-visibility {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.toggle-audio:hover, .toggle-visibility:hover {
    text-decoration: underline;
}

.audio-player {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 10px;
    color: #333;
    font-size: 1em;
}



.highlight {
	background-color: yellow;
	color: black;
    font-weight: bold;
    font-size: 120%;
}

#search_form {
    margin-top: 5px;
}

{
    font-weight: bold;
}

.pagination li.disabled > .page-link {
    color: #ccc;
}

.page-item.active > .page-link {
    color: #C41F3A; /* Or your preferred highlight color */
}

.audio-player {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

audio {
    width: 100%;
    max-width: 100%;
    outline: none;
}

@media (max-width: 600px) {
    input[type="text"] {
        height: 45px;
    }
}

#search_form {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin-bottom: 20px;
    }
    #queryInputs input {
        margin-top: 10px;
        width: 90%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #addQueryBtn {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #addQueryBtn:hover {
        background-color: #0056b3;
    }

    /* General form styling */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Specific styles for dropdowns */
#yearDropdown, #monthDropdown {
    margin-bottom: 0.5rem;
}

.button-primary {
    color: #fff;
    background-color: #007bff;  /* Primary blue */
    border-color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer; /* Ensures the cursor changes to a pointer to indicate it's clickable */
}

.button-primary:hover, .button-primary:focus {
    background-color: #0056b3; /* Darker blue on hover/focus */
    border-color: #004085;
}

.button-primary:active {
    background-color: #004885; /* Even darker blue when the button is clicked */
    border-color: #003365;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Adds a subtle inset shadow to simulate depth when pressed */
}

.query-input { margin-top: 10px; }

.remove-btn { margin-left: 10px; color: red; cursor: pointer; }