/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #1C2D59; /* Dark brand color for text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px; /* Max width to limit excessive stretching on large screens */
    margin: auto;
    overflow: hidden;
    text-align: center; /* Center content */
}

header {
    background: #1C2D59; /* Dark brand color for header background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

.transcription {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.segment-title {
    color: #0056b3;
    cursor: pointer;
}

.segment-title:hover {
    text-decoration: underline;
}

.segment-date {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
}

.toggle-audio, .toggle-visibility {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.toggle-audio:hover, .toggle-visibility:hover {
    text-decoration: underline;
}

.audio-player {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 10px;
    color: #333;
    font-size: 1em;
}

.highlight {
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 120%;
}

#search_form {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.pagination li.disabled > .page-link {
    color: #ccc;
}

.page-item.active > .page-link {
    color: #C41F3A; /* Or your preferred highlight color */
}

.audio-player {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

audio {
    width: 100%;
    max-width: 100%;
    outline: none;
}

@media (max-width: 600px) {
    input[type="text"] {
        height: 45px;
    }
}

#queryInputs input {
    margin-top: 10px;
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addQueryBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addQueryBtn:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 15px;
}

/* General form styling */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/* Specific styles for dropdowns */
#yearDropdown, #monthDropdown {
    margin-bottom: 0.5rem;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.info-text {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

.button-primary {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline */
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-primary:active {
    background-color: #004885; /* Even darker blue when the button is clicked */
    border-color: #003365;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 12.5%); /* Adds a subtle inset shadow to simulate depth when pressed */
}

.query-input {
    margin-top: 10px;
}

.remove-btn {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;  /* Center pagination horizontally */
    align-items: center;      /* Align items in a way that they are vertically centered */
    padding: 20px 0;          /* Add padding for spacing from other elements */
    list-style: none;         /* Remove default list styling */
    margin: 20px 0;           /* Add margin around the pagination for better spacing */
    overflow-x: auto;         /* Allow horizontal scrolling */
}

.pagination .page-item {
    margin: 0 5px; /* Spacing between pagination items */
}

.pagination .page-link {
    color: #007bff;             /* Set link color */
    text-decoration: none;      /* Remove underline */
    padding: 8px 12px;          /* Padding inside each pagination link */
    border-radius: 4px;         /* Rounded corners for links */
    border: 1px solid #dee2e6;  /* Border for links */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.pagination .page-link:hover {
    background-color: #f8f9fa;  /* Slight background on hover */
    color: #0056b3;             /* Change color on hover */
}

.pagination .page-item.active .page-link {
    background-color: #007bff;  /* Active item background color */
    color: white;               /* Active item text color */
}

.random-segment-link {
    color: white; /* Change text color to white */
    background-color: #007bff; /* Add a background color */
    padding: 10px 20px; /* Add some padding */
    border-radius: 5px; /* Optional: round the corners */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    display: inline-block; /* Ensure it behaves like a button */
    margin: 10px 0; /* Add some margin */
}

.random-segment-link:hover {
    background-color: #0056b3; /* Darken the background on hover */
}

.disclaimer {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 0.9em;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    margin-bottom: 20px;
    font-size: 1em;
    color: #333;
}

.date-inputs {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px; /* Space between the date inputs */
}

.date-inputs select {
    flex: 1;
    max-width: 200px; /* Set a reasonable maximum width */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

@media (max-width: 600px) {
    .button-primary{
        padding: 8px 16px; /* Reduce padding inside the button */
        font-size: 0.9em; /* Reduce font size */
    }
    .date-inputs {
        flex-direction: column;
    }

    .date-inputs select {
        width: calc(100% - 20px); /* Adjust the width to fit within the container */
        max-width: none; /* Remove the max-width constraint for mobile */
        margin-bottom: 10px;
        padding-right: 10px; /* Add padding to ensure it doesn't touch the edge */
    }

    .form-group {
        padding-right: 10px; /* Add padding to the form group */
        padding-left: 10px; /* Add padding to the form group */
    }

    /* Adjust pagination on mobile */
    .pagination {
        padding: 10px 0;
    }

    .pagination .page-link {
        padding: 5px 8px; /* Reduce padding inside each pagination link */
        font-size: 0.9em; /* Reduce font size */
    }
}

/* Fixed link styling */
.fixed-link {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.fixed-link.random-segment-link {
    right: 20px;
    background-color: #007bff;
    color: white;
}

.fixed-link.random-segment-link:hover {
    background-color: #0056b3;
}

.fixed-link.home-link {
    left: 20px;
    background-color: #28a745;
    color: white;
}

.fixed-link.home-link:hover {
    background-color: #218838;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}
.spinner-container {
  display: none; /* Hidden by default */
  position: fixed; /* Sit on top of the page content */
  z-index: 9999; /* Ensure it sits above everything else */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.close-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position on the screen */
  bottom: 20px; /* 20px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust positioning to truly center */
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  z-index: 10000; /* Ensure it sits above other elements */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.close-button:hover {
  background-color: #0056b3;
}
