body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #1C2D59; /* Dark brand color for text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1C2D59; /* Dark brand color for header background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.transcriptions {
    margin: 20px 0;
}

.transcription {
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.transcription h2 {
    margin-top: 0;
    color: #C41F3A; /* Accent color for segment titles */
}

.segment-title {
    cursor: pointer;
    color: #C41F3A; /* Accent color for clickable titles */
}

.segment-title:hover {
    text-decoration: underline;
}

.content {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Pagination styles */
.pagination {
    list-style-type: none; /* Removes bullet points */
    display: flex;        /* Align items horizontally */
    justify-content: center; /* Center align pagination */
    padding: 0;           /* Removes default padding */
}

.pagination li {
    margin: 0 5px; /* Adds space between page numbers */
}

.pagination li a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color */
		font-size: 1.2em;
}

.pagination .active a {
    font-weight: bold; /* Highlights the current page */
}

.highlight {
	background-color: yellow;
	color: black;
}
